.footer{
  background-color: $black;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;

  &__copy{
    display:flex;
    color: $white;
    font-size: $large;
    font-family: $font-family-secundary;
  }

  &__list{
    display: none;
    

  }
}

@media (max-width:576px){
  .footer{
    // display: flex;
    // flex-flow: row wrap;
    // flex-direction: column;;
    // justify-content: center;
    // align-content: space-between;
    // width: auto;
    
    position: relative;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: auto;
  
  &__copy{
    font-size: $medium;
    margin-top: .7rem;
    margin-bottom: .8rem;
   
  }

   &__list{
    
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    list-style: none;
    color: $white;
   }

   &__item{
    white-space: nowrap;
   }



    &__button{
    background-color: $tangerine;
    font-size: $x-large;
    border-radius: 5px;

        &:hover{
        background-color:$white;
        }
        &:focus{
        background-color:$white;   
        }
    
    
  }
}
}






// //This file is for create your style with relation on space of footer
// .footer {
//     padding: 3rem;
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-around;
//     align-items: center;
//     align-content: space-between;
//     color: white;
//     background-color: black;
  
//     &__list {
//       display: flex;
//       flex-flow: row wrap;
//       justify-content: space-around;
//       align-items: center;
//       align-content: space-between;
//       list-style: none;
      
//     }
//     &__item {
//       font-size: 0.8rem;
//       margin: 0 20px;
  
//     }
//   }
  
//   @media (max-width: 575.98px) {
//     .footer {
//       flex-flow: column wrap;
//       justify-content: center;
//       align-content: center;
//       &__text {
//         text-align: center;
//       }
  
//       &__list {
//         margin-top: 10px;
//         flex-flow: row wrap;
//         justify-content: center;
//         align-content: center;
//       }
//       &__item {
//         
//       }
//     }
//   }
  