.footer{
  background-color: $black;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;

  &__copy{
    display:flex;
    color: $white;
    font-size: $large;
    font-family: $font-family-secundary;
  }

  &__list{
    display: none;
    

  }
}

@media (max-width:576px){
  .footer{
    position: relative;
    background-color: $black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: auto;
  
  &__copy{
    font-size: $medium;
    margin-top: .7rem;
    margin-bottom: .8rem;
  }

  &__list{    
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    list-style: none;
    color: $white;
    flex-wrap: wrap;
    margin-block-end:0;
   }

   &__item{
    white-space: nowrap;
    margin-bottom: .8rem;
    color: $white;
   }
   
    &__placeholder-mail{
      border-radius: 20%;
     
    }
    &__button{
    background-color: $tangerine;
    font-size: $large;
    border-radius: 5px;
    color: #808080;
    margin-left: 2.9rem;
    margin-top: .2rem;
        &:hover{
        background-color:$white;
        }
        &:focus{
        background-color:$white;   
        }
    
    
  }
}
}